In [13]:
import pandas as pd
from math import sqrt

In [2]:
df = pd.read_csv('water.txt', sep='\t')

In [5]:
# 1

df.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [7]:
# 2

df.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [11]:
# 3

df[df['location'] == 'South'].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [10]:
df[df['location'] == 'North'].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [16]:
a = 203
b = 239
c = 718
d = 515

mcc = (a * d - b * c) / sqrt((a + b) * (a + c) * (b + d) * (c + d))

In [17]:
mcc

-0.10900237458678963

In [23]:
# 4

import scipy.stats

scipy.stats.chi2_contingency([[203, 239], [718, 515]])

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 198.96597015],
        [677.96597015, 555.03402985]]))

In [26]:
# 5

n1 = 203 + 718
n2 = 239 + 515

p1 = 203 / (203 + 718)
p2 = 239 / (239 + 515)

In [31]:
# 6

std = sqrt(p1 * (1 - p1) / n1  + p2 * (1 - p2) / n2)
mean = p2 - p1

mean - std * scipy.stats.norm.cdf(0.975), mean + std * scipy.stats.norm.cdf(0.975)

(0.07838510694120249, 0.11474195768984963)

In [33]:
# 7

2 * (1 - scipy.stats.norm.cdf(mean / std))

9.135870505883048e-06

In [40]:
# 8 9

X = [[197, 111, 33], 
     [382, 685, 331],
     [110, 342, 333]]

scipy.stats.chi2_contingency(X)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [41]:
# 10
import numpy as np

sqrt(293.68311039689746 / np.sum(X) / (3 - 1))

0.2412013934500338