In [26]:
%matplotlib inline
import pandas as pd

In [2]:
df = pd.read_csv('water.txt', sep='\t')

In [4]:
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [6]:
mrt = df['mortality']

In [19]:
from scipy.stats import norm
from statsmodels.stats.weightstats import _tconfint_generic
from math import sqrt

In [47]:
mrt_mean = mrt.mean()
mrt_std_mean =  mrt.std(ddof=1) / sqrt(len(mrt))
_tconfint_generic(mrt_mean, mrt_std_mean, len(mrt) - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [48]:
mrt.mean()

1524.1475409836066

In [31]:
mrts = df[df['location'] == 'South']['mortality']
mrtn = df[df['location'] == 'North']['mortality']

In [49]:
mrts_mean = mrts.mean()
mrts_std_mean =  mrts.std(ddof=1) / sqrt(len(mrts))
_tconfint_generic(mrts_mean, mrts_std_mean, len(mrts) - 1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [50]:
mrtn_mean = mrtn.mean()
mrtn_std_mean =  mrtn.std(ddof=1) / sqrt(len(mrtn))
_tconfint_generic(mrtn_mean, mrtn_std_mean, len(mrtn) - 1, 0.05, 'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [34]:
hardness_s = df[df['location'] == 'South']['hardness']
hardness_n = df[df['location'] == 'North']['hardness']

In [51]:
hardness_s_mean = hardness_s.mean()
hardness_s_std_mean =  hardness_s.std(ddof=1) / sqrt(len(hardness_s))
_tconfint_generic(hardness_s_mean, hardness_s_std_mean, len(hardness_s) - 1, 0.05, 'two-sided')

(53.467198692036106, 86.07126284642544)

In [52]:
hardness_n_mean = hardness_n.mean()
hardness_n_std_mean =  hardness_n.std(ddof=1) / sqrt(len(hardness_n))
_tconfint_generic(hardness_n_mean, hardness_n_std_mean, len(hardness_n) - 1, 0.05, 'two-sided')

(21.42248728572426, 39.37751271427574)

In [37]:
19.6 ** 2

384.1600000000001