In [9]:
%matplotlib inline
from scipy import stats
import numpy as np
import pandas as pd

In [8]:
# 1
# гипотеза для доли (нормальная)
# ...скорее биномиальный тест

stats.binom_test(67, 100, 0.75, alternative = 'two-sided')

0.08222258891386608

In [12]:
# 3 4 5

pines = pd.read_csv("pines.txt", sep='\t')
pines.head()

      sn    we
0  200.0   8.8
1  199.3  10.0
2  193.6  22.4
3  167.7  35.6
4  183.9  45.4

In [58]:
p_obs = stats.binned_statistic_2d(pines.iloc[:, 0], pines.iloc[:, 1], None, 'count', bins=[5, 5]).statistic.flatten()

In [61]:
stat_value, p_value = stats.chisquare(p_obs)

In [63]:
p_obs.mean(), stat_value, p_value

(23.36, 150.58904109589042, 2.574669774967279e-20)